---
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';
import Pagination from '../../components/Pagination.astro';
import CategoryCloud from '../../components/CategoryCloud.astro';

// Format Posts
import { formatBlogPosts } from '../../js/sortPosts';

export  async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("./posts/*md");
    const formattedPosts = formatBlogPosts(allPosts);

    return paginate(formattedPosts, {
        pageSize: 10,
    })

}
const { page } = Astro.props as {
  page: {
    data: any[];
    url: {
      prev: string | null;
      next: string | null;
    };
  };
};

---


<Layout pageTitle="mdohr07" description="Weblog">

    <h2>Blog entries</h2>

    <section class="post-list" aria-label="Liste der Blogeinträge">
               <!-- Loop through posts -->
               {
                page.data.map((post) => (
                  <PostCard
                    frontmatter={post.frontmatter}
                    url={post.url}
                  />
                ))
              }
     <Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>         
    </section>    
    <aside class="category-container" aria-label="Blog Kategorien">
      <h5>Blog Kategorien</h5>
      <CategoryCloud showCount={true} />
    </aside>
</Layout>

