---
const { frontmatter, url } = Astro.props;
const {title, date, author, image, description, category} = frontmatter;

import {formatDate, slugify} from '../js/helpers.js';
---


<article class="card">

    <div class="post-info">
        <date class="dt-published">
            {formatDate(date)}
        </date>
         
    <h2 class="entrytitle">
        <a class="u-url" href={url}>{title} </a> <br>         
    </h2>

    </div>    
    
    <section class="postcategory">
  
        <span style="color: #787796">Category:</span>
        <a href={`/blog/posts/category/${slugify(category)}/`} class="badge">{category}</a> 
    </section>

</article>