---
import Layout from './Layout.astro';
import Footer from '../components/Footer.astro';

// Helpers
import { formatDate, slugify } from '../js/helpers';

import '../styles/global.css';

// Site titles, description, etc.
const pageTitle = "mdohr07";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<Layout {pageTitle} {description} >

    <!-- Post content -->
    <p>{ formatDate(date) } - 
        <a href={`./category/${slugify(category)}/`} class="badge">{category}</a>

    </p>
        <h1>{title}</h1>
        <!-- Blog content goes into slot below -->
            <slot />
            <p>By <a href={`/author/${slugify(author)}`}>{author}</a></p>

            
            <div class="guestbook">
                <h4>Gästebuch</h4>
                <p>
                Leider habe ich keine Kommentarfunktion eingebaut, schreib' doch stattdessen in mein Gästebuch :-)
                </p>
                <a href="http://users2.smartgb.com/g/g.php?a=s&i=g26-39641-50">
                <button class="">Gästebuch</button></a>
            </div>

        </Layout>
