---
import Layout from './Layout.astro';
import Footer from '../components/Footer.astro';

// Helpers
import { formatDate, slugify } from '../js/helpers';

import '../styles/global.css';

// Site titles, description, etc.
const pageTitle = "mdohr07";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, musik, stimmung} = frontmatter;
---

<Layout {pageTitle} {description} >
        <h1>{title}</h1>    
<!-- Post Meta -->

<section class="postmeta">
    <p>
        <span class="postdate">
        Veröffentlicht am { formatDate(date) } 
        <a href={`/author/${slugify(author)}`}>by {author}</a>
        </span>

        🏷️ <a href={`./category/${slugify(category)}/`} class="badge">{category}</a>
    </p>

    {musik && (
        <p>🎵 {musik}
        

        
{stimmung && (
    <span style="color: #5C5B77">|</span> <span>Stimmung: {stimmung}</span>
)}
        </p>
    )}

    
</section>

        <slot />            
            
        
        <!-- Blog content goes into slot below -->

            
            <div class="guestbook">
                <h4>Gästebuch</h4>
                <p>
                Leider habe ich keine Kommentarfunktion eingebaut, schreib' doch stattdessen in mein Gästebuch :-)
                </p>
                <a href="http://users2.smartgb.com/g/g.php?a=s&i=g26-39641-50">
                <button class="">Gästebuch</button></a>
            </div>

        </Layout>
