---
import Layout from './Layout.astro';
import Footer from '../components/Footer.astro';

// Helpers
import { formatDate, slugify } from '../js/helpers';

import '../styles/global.css';

// Site titles, description, etc.
const pageTitle = "mdohr07";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, music, mood } = frontmatter;

const { prevUrl, nextUrl } = Astro.props;
---

<Layout {pageTitle} {description}>
  <h1>{title}</h1>
  <!-- Post Meta -->
  <section class="postmeta">
    <p>
      <span class="dt-published">
        Published on {formatDate(date)}
        by <a href={`/author/${slugify(author)}`}>{author}</a>
      </span>
      <strong class="metalabel">Category:</strong> <a href={`./category/${slugify(category)}/`} class="badge">{category}</a>
    </p>
    {music && <span><strong class="metalabel">Music:</strong> {music}</span>} &nbsp;
    {mood && <span> <strong class="metalabel">Mood:</strong> {mood}</span>}
  </section>
  <!-- Content of the post -->
  <div class="content">
    <slot />

    <div class="guestbook">
      <a href="http://users2.smartgb.com/g/g.php?a=s&i=g26-39641-50" target="_blank">
      <button class="">Sign my Guestbook</button></a>

      <a href="mailto:mdohr07@gmail.com">
      <button class="">Reply by eMail</button></a>
  </div>

<nav aria-label="Blog Pagination">
    <hr />
    {
        prevUrl && (
            <a href={prevUrl}>
                ← NEXT ENTRy
            </a>
        )
    }
        {
            nextUrl && (
                <a href={nextUrl}>
                   PREVIOUS ENTRIy →
                </a>
            )
        }
</nav>



  </div>
</Layout>
