---
import Layout from './Layout.astro';
import Footer from '../components/Footer.astro';

// Helpers
import { formatDate, slugify } from '../js/helpers';

import '../styles/global.css';

// Site titles, description, etc.
const pageTitle = "mdohr";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<Layout {pageTitle} {description} >

    <!-- Post content -->
    <p>{ formatDate(date) } - 
        <a href={`./category/${slugify(category)}/`} class="badge">{category}</a>

    </p>
        <h1>{title}</h1>
        <!-- Blog content goes into slot below -->
            <slot />
            <p>By <a href={`/author/${slugify(author)}`}>{author}</a></p>
</Layout>

<script src="https://utteranc.es/client.js"
        repo="mdohr07/blog"
        issue-term="pathname"
        label="Kommentar"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
</script>